
textarea {
	font-family: 'EB Garamond', serif;
	width: 48%;
	height: 80vh;
	font-size: 1.5em;
}
footer, header {
	padding: 5px;

}

footer:hover {
	color :#FFFFB4FF;
}

header {
/*background: #A6C539FF;*/
border-bottom: 3px solid rgba(0,0,0,.14);

}

h1 {
	color : rgb(120,120,120);
font-family: 'Pacifico', cursive;
font-size : 3em;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

#wrapper {
  flex: 1 0 auto;
 
  /*background: #e6f2ff;*/
}

footer {
  flex: 0 0 auto;
  background: #ADADADFF

}
main {
	padding: 20px;
	  display: flex;
	  justify-content: space-between;
}
img {
	position: absolute;
	right: 0;
	top: -19px;
	
}